/* diagnostic styling */
/* * {
	border: 1px dashed gray;
} */

:root {
	--link-col: hsl(0, 0%, 36%);
	--link-col-hover: gray;
}

body {
	font-family: sans-serif;
	background: cornflowerblue;
}

a {
	text-decoration: none;
	color: var(--link-col);
	font-weight: bold;

	&:hover, &:active {
		color: var(--link-col-hover);
	}
	&:visited {
		color: var(--link-col);
	}
}

header, footer, .project-card h2 {
	text-align: center;
}

main {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: repeat(auto-fit, 1fr);
}

main.error-page {
	text-align: center;
	display: block;
	padding-bottom: 2em;
}


@media (max-width: 850px) {
	main {
		grid-template-columns: 1fr 1fr;
	}
}

@media (max-width: 550px) {
	main {
		grid-template-columns: 1fr;
	}
}