.cards-container section.bordered:first-of-type {
	grid-column: span 3;;
}

.cards-container section.project-card {
	display: grid;
	grid-template-rows: repeat(auto-fit, 1fr);

	hr {
		border-color: lightgray;
	}

	img {
		display: block;
		max-width: 100%;
		margin: 0 auto;
		max-height: 400px;
		padding: 0.5rem;
	}

	ul.project-urls {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
		list-style: none;
		text-align: center;
		padding: 0;
		margin: 0.5rem 0;
	}
	img {
		vertical-align: top;
	}
	.no-thumb {
		font-style: italic;
		color: gray;

		display: flex;
		align-items: center;
		justify-content: center;
		height: 300px;
		max-width: 500px;
		place-self: center;
		/* border: 1px dashed gray; */
	}
	.language-details {
		border-top: 1px solid darkgray;
		padding-top: 0.5rem;
	}
}