---
import BaseLayout from "../layouts/BaseLayout.astro";
import PageHeader from "../components/PageHeader.astro";
import PageFooter from "../components/PageFooter.astro";
import ProjectCard from "../components/ProjectCard.astro";

import "../styles/global.css";
import "../styles/projects.css";

const pageTitle = "My Projects";

import type { Project } from "../../types/types";

const projects = (await import("../data/projects.json")).default as Project[];

// Hi Colin!

---

<BaseLayout pageTitle={pageTitle}>
	<PageHeader pageTitle={pageTitle} />
	<main>
		<article class="cards-container">
			<section class="intro bordered">
				<p>Welcome to my projects page! Here you can find a collection of my work, including games and other neat stuff. Currently, only OmniChip-8 has a web version, though others may come soon/eventually.</p>
				<p>I am proficient in Go, JavaScript, TypeScript, Python, C#, and SQL, and familiar with C, C++, and 6502 assembly.</p>
			</section>
			{projects.map(project => {
				return <ProjectCard project={project} />
			})}
		</article>
	</main>
	<PageFooter />
</BaseLayout>
